.contentWrapper{
    min-width: 320px;
    padding: 10px;
}
@media screen and (min-width: 768px) {
.contentWrapper {
        min-width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .contentWrapper {
        min-width: 1200px;
    }
}