.wrapNav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.link.dark {
    color: orange;
}
.active {
    text-decoration: underline;
}
.toggleThemeBtn{
        font-size: 12px;
}
@media screen and (min-width: 768px) {
    .toggleThemeBtn {
            font-size: 16px;
        }
}
