#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}
.light{
  background-image: url(../assets/light-sky.jpg);
  background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #213547;
      height: 100%;
      width: 320px;
      display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: start;
}
.dark{
  background-image: url(../assets/dark-sky.jpeg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      color: bisque;
      height: 100%;
      width: 320px;
      display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: start;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .dark{
    min-width: 768px;
  }
  .light{
    min-width:768px;
  }
}

@media (min-width: 1025px) {
  .dark {
      min-width: 1025px;
    }
  
    .light {
      min-width: 1025px;
    }
}